In [15]:
from glob import glob
import pandas as pd
import numpy as np
import re

In [58]:
outputs = glob('outputs/*')
# frames = glob('cam1/*')
frame_nums = []

for i in outputs:
    frame_nums.append(re.findall("\d+", i)[0])
    
table = pd.DataFrame(frame_nums, columns=['frame_num'])
table['output'] = pd.Series(outputs)
table['raw'] = 'cam1/' + table['frame_num'] + '.jpg'
table['frame_num'] = table['frame_num'].astype(int)

table.sort_values('frame_num')

      frame_num                      output                raw
1112         20  outputs/output00000020.csv  cam1/00000020.jpg
826          40  outputs/output00000040.csv  cam1/00000040.jpg
518          60  outputs/output00000060.csv  cam1/00000060.jpg
733          80  outputs/output00000080.csv  cam1/00000080.jpg
500         100  outputs/output00000100.csv  cam1/00000100.jpg
...         ...                         ...                ...
516       28920  outputs/output00028920.csv  cam1/00028920.jpg
76        28940  outputs/output00028940.csv  cam1/00028940.jpg
1110      28960  outputs/output00028960.csv  cam1/00028960.jpg
166       28980  outputs/output00028980.csv  cam1/00028980.jpg
862       29000  outputs/output00029000.csv  cam1/00029000.jpg

[1450 rows x 3 columns]

In [ ]:
pts_src1 = np.array([[614, 294], [581, 326],[503, 407], [313, 348], [478, 345]])
pts_dst = np.array([[650, 550], [600, 550], [500, 550],[500, 400], [550, 500]]) #these are the zoomed out destination points
homo = cv2.findHomography(pts_src1, pts_dst)

## fix ##
outs = [cv2.warpPerspective(undis[j], homo, (undis[j].shape[1], undis[j].shape[0])) for j in range(4)]
transformed = np.array([cv2.perspectiveTransform(box.reshape(-1, 1, 2).astype(np.float32), homo) for box in boxes], dtype=int)